<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanxiu.gphone.jiaoyan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.test.yanxiu.common_base.JYApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.main.MainActivity"
            android:theme="@style/AppTheme.Main" />
        <activity android:name=".business.mine.MineSettingActivity" />
        <activity android:name=".business.course_detail.activity.CourseDetailActivity" />
        <activity android:name=".business.course_detail.activity.CourseDetailTabActivity" />
        <activity android:name=".business.course_detail.activity.GoEvaluationActivity" />
        <activity android:name=".business.video.activity.VideoActiivity" />
        <activity android:name=".business.mine.MineVideoResolutionActivity" />
        <activity android:name=".business.mine.MineChangePwdStep1Activity" />
        <activity android:name=".business.mine.MineChangePwdStep2Activity" />
        <activity android:name=".business.mine.MineMyCourseActivity" />
        <activity android:name=".business.mine.MineMyCertActivity" />
        <activity android:name=".business.mine.MineMyCertDetailActivity" />
        <activity android:name=".business.mine.MineMyMoneyActivity" />
        <activity android:name=".business.my_wealth.ui.MyWealthActivity" />
        <activity android:name=".business.search.activity.SearchActivity" />
        <activity android:name=".business.course.activity.CourseTopicActivity" />
    </application>

</manifest>
